@import '~@fluentui/react/dist/sass/References';

.wrapper {
  border-top: 1px dashed $ms-color-gray80;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.droppableContainer {
  background-color: $ms-color-white;

  &.isDraggingOver {
    background-color: $ms-color-communicationTint30;
  }
}
