.widthWrapper {
  padding-right: 50px;
  width: 290px;
}

.textField {
  width: 122px;
}

.total {
  padding-right: 10px;
  text-align: right;
}

.lineWrapper {
  padding-bottom: 10px;
}

.resultLineWrapper {
  background-color: #fff;
  border-top: 1px dashed #b3b0ad;
  padding-top: 7px;
}
