@import '~normalize.css';
@import './resources/fonts/Open Sans/stylesheet.css';

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

.noscript-info {
  text-align: center;
}

.bold {
  font-weight: bolder;
}

.ms-borderColor-themePrimary {
  border: 1px solid rgb(150, 150, 150);
}
