.centerContainer {
  width: 800px;
}

.sideContainer {
  box-sizing: border-box;
  padding-left: 10px;
  width: 50px;
}

.titleWidth {
  width: 360px;
}

.amountWidth {
  width: 60px;
}

.unitWidth {
  width: 120px;
}
