@import '~@fluentui/react/dist/sass/References';

.whitePageContainer {
  background-color: $ms-color-white;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  flex: 1;
  width: 960px;

  &.withoutShadow {
    box-shadow: none;
  }
}

.root {
  background-color: $ms-color-gray10;
  box-sizing: border-box;
  display: flex;

  // TODO: this is necessary to fix the scrolling issue where all items over 50 elements are not rendered in the shimmered details list
  height: calc(100vh - 60px);
  min-height: 100vh;
  min-width: 1000px;
  overflow: auto;
  padding: 20px;
  padding-top: 60px;
  width: 100%;

  &.white {
    background-color: $ms-color-white;
  }
}
